<article class="forums">
 <h2>{{ forum.userId }}</h2>

  {{!-- <p> User ID: {{ forum.userId }}</p> --}}
  <p> Text: {{ forum.text }}</p>
 
  <a href="/forums">Back to Forum Page</a>
  </article>