<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klimate</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <h1 id="h1Title">Klimate</h1>
    <header>
        <br>
        <nav>
            <ul>
                <li><a href="/businesses/new">Add a Business</a></li>
            </ul>
        </nav>
        <nav>
            
            <a href="/businesses">Businesses</a>
            <a href="/login">User Login</a>
            <a href="/forums">Community Forum</a>
            <a href="/calculator">Carbon Footprint Calculator</a>
            <a href="/products">Sustainable Product Page</a>
            <a href="/projects">Carbon Offset Marketplace</a>
            <a href="/TipsGuides">Tips & Guides</a>
            <a href="/ajax">TV Show</a>
            
           
        
        </nav>


       <br>
    </header>

<br>
<br>
  
    <main>
        {{{body}}}
    </main>
    <footer> 

    </footer>


{{!-- <script src="/public/js/client_side_validation.js"></script>

<script src="/public/js/client_side_validation.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script> --}}

</body>

</html>