
<body>
    <header>
        <h1>Carbon Offset Marketplace</h1>
       
    </header>
    <section class="offset-marketplace">
        <ul>
            
        </ul>
    </section>
</body>
