<article class="TG">
  <h2>{{ TG.title }}</h2>

  <p> Author: {{ TG.author }}</p>
  <p> Tip/ Guide: {{ TG.text }}</p>
  

 
  
  <a href="/TipsGuides">Back to Tips & Guides Page</a>
</article>